body {
  background-color: #ffffff !important;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  overflow-y: auto !important;
}
html {
  min-height: 100vh !important;
  overflow-y: auto !important;
}
.v-main {
  min-height: 100vh !important;
  overflow-y: auto !important;
}
.main-btn {
  width: auto;
}
.center-hor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-ver {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-card--variant-elevated {
  box-shadow: none !important;
}
.car {
  background-color: #4bd130;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.align-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}
.adjust-padding {
  padding-left: 0 !important;
}
